*{
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --primary-color:#5d38ce;
}
.logo{
  font-family: "Plaster", system-ui;
  color: #fff;
  padding-left: 7rem;
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 8rem;
  padding-top: 2rem;
}
nav ul li {
  list-style-type: none;
  display: inline-block;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
  padding-right: 2rem;
}
.btn{
  padding: 12px 46px;
  color: #fff;
  background-color: var(--primary-color);
}
.btn:hover{
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 8px;
}
.hero{
    width: 100%;
    max-width: 100%;
    background-size: cover;
    background-position: center;
    display: block;
    position: relative;
    cursor: pointer;
  }
  .hero img{
    width: 100%;
  }
  .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(20, 29, 38, 70%);
    justify-content: center;
    align-items: center;
    }
    .overlay h1{
      color: #fff;
      text-align: center;
      font-size: 64px;
      padding-top: 7rem;
      padding-bottom: 1rem;
    }
    .overlay p{
      color: #fff;
      text-align: center;
      font-size: 24px;

    }

.section-two{
background: rgba(198, 189, 255, 16%);
background-size: cover;
height: auto;
display: flex;
flex-direction: row;
width: 100%;
position: absolute;
}

.part-one{
width: 50%;
}
.part-two{
  width: 40%;
}
.vector{
  translate: 36rem 10rem;
  display: inline;
}
.percentage{
  background-color: #141d26;
  color: #fff;
  justify-content: center;
  display: flex;
  flex-direction: row;
  translate: 0.1rem 5.45rem ;
  height: auto;
  
}
.percent{
padding-top: 2rem;
padding-bottom: 2rem;
translate: 4rem;
}
.percent h1{
  font-size: 40px;
  padding-right: 5.6rem;
}
.percent p{
  font-size: 16px;
}

.line{
  align-items: center;
  justify-content: center;
  height: 5rem;
  margin-top: 2rem;
  padding-right: 3rem;
  translate: 4rem 1rem;

  
}
.friends{
  padding-top: 7rem;
  padding-right: 7rem;
  height: auto;
  width: 43rem;
}
.text{
  translate: 13rem 6rem;
}
.text h2{
  font-size: 32px;
}
.text p{
  font-size: 18px;
}