@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

*{
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --primary-color:#5d38ce;
}

/* styling navbar */
.logo{
  font-family: "Plaster", system-ui;
  color: #fff;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 8rem;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  padding-right: 2rem;
}

.button{
  display: flex;
  gap: 1rem;
}
.primary-btn{
  padding: 1rem 2.5rem;
  color: #fff;
  background-color: var(--primary-color);
  outline: none;
  border: none;
  font: inherit;
  border-radius: 5px;
}

.secondary-btn{
  padding: 1rem 2.5rem;
  color: #fff;
  background-color: transparent;
  outline: none;
  border: 2px solid #fff;
  font: inherit;
  border-radius: 5px;
}

.btn:hover{
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 8px;
}

/* styling hero */
.hero{
    width: 100%;
    max-width: 100%;
    background-size: cover;
    background-position: center;
    display: block;
    position: relative;
    cursor: pointer;
  }
  .hero img{
    width: 100%;
  }
  .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(20, 29, 38, 70%);
    justify-content: center;
    align-items: center;
    }

    .hero-content{
      padding: 7rem;
      text-align: center;
      color: #fff;
    }
    .hero-content h1{
      font-size: 4rem;
    }
    .overlay p{
      font-size: 1.5rem;

    }




.section-two{
    background-color: rgba(198, 189, 255, 16%);
    height: auto;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top:2rem; 
    padding-top: 6rem;
    padding-bottom: 6rem;
    padding-right: 8rem;
    align-items: end;
    justify-content: space-between;
    gap:0
}

.text{
  padding-left: 6rem;
  margin-right: 3rem;
}
.text h2{
  font-size: 2rem;
}
.text p{
  font-size: 18px;
  margin: 2rem 0;
  text-align: justify;
}
.part-one{
width: 70%;
/* flex-grow: 2; */
}
.part-two{
  width: 70%;
  img{
    width: 100%;
  }
}
.vector{
  translate: 36rem 10rem;
  display: inline;
}
.percentage{
  background-color: #141d26;
  color: #fff;
  display: flex;
  flex-direction: row;
  padding: 3rem 3rem 3rem 6rem;
}

.percent h1{
  font-size: 2.6rem;
}
.percent p{
  font-size: 0.8rem;
}

.line{
  height: 70px;
  background-color:antiquewhite;
  width: 2px;
  opacity: 30%;
  margin: auto 3rem;
}

.sponsor-div{
background-color: #141d26;  
width: 100%;
height: 8rem;
padding-top: 3rem;
margin-top: 1rem;
padding-left: 1.5rem;

}
.sponsor-div img{
  padding-right: 2.6rem;
}
